[project]
name = "garmin-service"
version = "0.0.0"
requires-python = ">=3.11"

dependencies = []

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
include = ["app"]
